@import "global.css";

@keyframes swing {
    25% {
        transform: translateX(4px) skew(4deg);
        opacity: 1;
    }
    50% {
        transform: translateX(-4px) skew(-4deg);
        opacity: .8;
    }
    75% {
        transform: translateX(2px) skew(2deg);
        opacity: .9;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes swing-lighter {
    25% {
        transform: translateX(-2px) skew(-2deg);
        opacity: 1;
    }
    50% {
        transform: translateX(2px) skew(2deg);
        opacity: .8;
    }
    75% {
        transform: translateX(-1px) skew(1deg);
        opacity: .9;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes swing-lighter-no-skew {
    25% {
        transform: translateX(-2px);
        opacity: 1;
    }
    50% {
        transform: translateX(2px);
        opacity: .8;
    }
    75% {
        transform: translateX(-1px);
        opacity: .9;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-from-top {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-from-bottom {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-from-left {
    from {
        transform: translateX(-5px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}