@import "global.css";

h4 {
    line-height: 1.5;
    opacity: .6;
}

p {
    line-height: 1.75;
}

.list {
    position: relative;
    top: 0;
    margin-left: calc(var(--bullet-size) / 2);
}

.timeline:after {
    content: '';
    position: absolute;
    width: 1px;
    background: var(--main-font-color);
    left: 0;
    height: 100%;
    top: calc(var(--bullet-size) - 1px);
}

.single-job {
    margin-top: 0;
    margin: calc(2 * var(--default-padding)) 0;
    margin-bottom: calc(3 * var(--default-padding));
    padding-left: calc(2 * var(--default-padding));
    position: relative;
}

.single-job p {
    text-align: left;
}

.single-job h3::before {
    content: '';
    position: absolute;
    width: var(--bullet-size);
    background-color: var(--background-main-color);
    height: var(--bullet-size);
    left: calc((-1) * var(--bullet-size) / 2);
    top: calc(var(--bullet-size) / 2);
    z-index: 1;
    border-radius: var(--bullet-size);
    border: 1px solid var(--main-font-color);
    transition: all .3s ease;
}

.single-job:hover h3:before {
    background-color: var(--main-font-color);
    transform: scale(.7) translateX(-1px);
}
