@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Lato:300,400,700|Open+Sans');
@import "animations.css";
@import "global.css";

.profile-image-with-text {
    display: grid;
}

@media only screen and (max-width: 700px) {
    .profile-image-with-text {
        grid-template-rows: ;
    }
}

@media only screen and (min-width: 700px) {
    .profile-image-with-text {
        grid-template-columns: 2fr 3fr;
    }
}

html, body {
    height: calc(100% - 23px);
    font-family: var(--main-font-family);
    transition: all var(--default-transition-length) ease-in-out;
    color: var(--main-font-color);
    background-color: var(--background-main-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

.center-text {
    text-align: center;
}

.centerize {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerize-vertical {
    display: flex;
    align-items: center;
}

.name-header {
    padding-bottom: var(--default-padding);
}

.links {
    padding-top: var(--default-padding);
}

.index-menu ul {
    list-style-type: none;
    padding: calc(var(--default-padding)/2);
}

.index-menu {
    transition: all .5s ease;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.index-menu div {
    text-transform: uppercase;
    padding: var(--default-padding);
    cursor: pointer;
    height: 28px;
}

.swing-out {
    animation: swing-lighter .35s ease-in-out !important;
}

.index-menu div:hover {
    animation: swing .7s ease-in-out !important;
}

.pointer {
    cursor: pointer;
}

.borderline {
    border-bottom: 1px solid var(--main-font-color);
}

.links-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.single-link {
    font-size: 12px;
}

.padding-top-quarter {
    padding-top: calc(var(--default-padding)/4);
}

.no-margin {
    margin: 0 !important;
}

.centerize-without-fill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-left, .slide-top {
    visibility: hidden;
    pointer-events: none;
}

.slide-top-animated, .slide-bottom-animated, .slide-left-animated {
    visibility: visible;
    pointer-events: all;
}

.slide-top-animated {
    animation: slide-from-top .5s ease-out;
}

.slide-bottom-animated {
    animation: slide-from-bottom .5s ease-out;
}

.slide-left-animated {
    animation: slide-from-left .5s ease-out;
}

@media only screen and (max-width: 700px) {
    .social-grid {
        position: relative;
        top: 0%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .social-cell {
	margin-bottom: 25px;
    }
    .social-cell span {
        opacity: 1;
    }
}

@media only screen and (min-width: 700px) {
    .social-grid {
        left: 0;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
    .social-cell {
        width: 170px;
    }
    .social-cell span {
        opacity: 0;
        transform: rotateY(45deg) skew(10deg);
        transition: all .5s ease;
    }
}

.social-cell {
    height: 5vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    cursor: pointer;
    align-items: center;
}

.social-cell img {
    opacity: 1;
    width: 25px;
    transition: all .5s ease;
}

.social-grid a, .links-grid a {
    text-decoration: none;
    color: var(--main-font-color);
}

.social-cell:hover img {
    opacity: 1;
    transform: translateX(15px) scale(1.1) rotate(360deg);
}

.social-cell:hover span {
    opacity: 1;
    transform: rotateY(0) skew(0);
}

.social-cell:hover {
    color: var(--main-font-color);
}

.main-body {
    width: 80%;
    min-height: 120vh;
    padding-top: calc(2 * var(--default-padding));
}

@media only screen and (min-width: 700px) {
    .main-body {
        width: 75%;
    }
}

@media only screen and (min-width: 992px) {
    .main-body {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .main-body {
        width: 50%;
    }
}

@media only screen and (min-width: 1500px) {
    .main-body {
        width: 40%;
    }
}

.main-body nav {
    margin-bottom: calc(5 * var(--default-padding));
}

p {
    line-height: 1.4;
}

.pb-2 {
    padding-bottom: calc(var(--default-padding) / 2);
}

.title {
    margin-bottom: calc(1.5 * var(--default-padding));
}

.main-body nav div {
    padding-left: 0;
    padding-right: 0;
}

.main-body nav div:first-child {
    text-align: left;
}

.main-body nav div:last-child {
    text-align: right;
}

.sticky-menu {
    position: fixed;
    top: 0;
    background: var(--background-main-color);
    z-index: 2;
}

.bottom-gradient {
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 0;
}

.smaller {
    font-size: 12px !important;
}
